<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Создать объявление</title>
    <link rel="stylesheet" type="text/css" href="{{ css_path }}">
</head>
<body>
    <h1>Создать объявление</h1>

    <form action="{{ url_for('car_advert_create') }}" method="POST" enctype="multipart/form-data">
        <input name="brand" placeholder="Марка" required><br>
        <input name="model" placeholder="Модель" required><br>
        <input name="year" type="number" placeholder="Год выпуска" required><br>
        <input name="mileage" type="number" placeholder="Пробег (км)" required><br>
        <input name="engine_fuel" placeholder="Тип топлива (например, бензин, дизель)" required><br>
        <input name="engine_volume" type="number" step="0.1" placeholder="Объём двигателя (л)" required><br>
        <input name="transmission" placeholder="КПП (например, автомат, механика)" required><br>
        <input name="color" placeholder="Цвет" required><br>
        <input name="price" type="number" placeholder="Цена ($)" required><br>
        
        <textarea name="description" placeholder="Описание автомобиля" rows="4"></textarea><br>
        
        <label>Фото автомобиля:</label><br>
        <input type="file" name="photo" accept="image/*"><br><br>
        
        <button type="submit">Создать</button>
    </form>


    <a href="{{ url_for('home') }}">Назад на главную</a>
</body>
</html>
