<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Создать объявление</title>
    <link rel="stylesheet" type="text/css" href="{{ css_path }}">
</head>
<body>
    <h1>Создать объявление</h1>

    <form action="{{ url_for('advert_create') }}" method="POST" enctype="multipart/form-data">
        <input name="brand" placeholder="Марка" required><br>
        <input name="model" placeholder="Модель" required><br>
        <input name="year" type="number" placeholder="Год выпуска" required><br>
        <input name="mileage" type="number" placeholder="Пробег" required><br>
        <input name="fuel_type" placeholder="Тип топлива" required><br>
        <input name="transmission" placeholder="КПП" required><br>
        <input name="price" type="number" placeholder="Цена" required><br>
        <textarea name="description" placeholder="Описание"></textarea><br>
        <input type="file" name="photo"><br><br>
        <button type="submit">Создать</button>
    </form>

    <a href="{{ url_for('home') }}">Назад на главную</a>
</body>
</html>
